@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}
main {
  width: 100%;
  height: 100%;
  background: rgb(37, 42, 114);
  background: -moz-radial-gradient(
    circle,
    rgba(37, 42, 114, 1) 0%,
    rgba(72, 14, 97, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(37, 42, 114, 1) 0%,
    rgba(72, 14, 97, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(37, 42, 114, 1) 0%,
    rgba(72, 14, 97, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#252a72",endColorstr="#480e61",GradientType=1);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.container {
  width: 40%;
  min-height: 20%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vw;
  text-align: left;
  padding: 20px;
}
.container h1 {
  color: #252a72;
  text-align: center;
  font-size: 2.9vh;
  font-weight: 500;
}
.container .todoicon i {
  color: #2b34b7;
  font-size: 4vh;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #edeef0;
  border-radius: 30px;
  width: 92%;
  margin: 0 3vh;
}
input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 12px;
  font-size: 17px;
  padding-left: 20px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 15px 50px;
  border-radius: 30px;
  background-color: #ff5945;
  color: #fff;
  font-size: 18px;
  transition: all 0.25s ease;
}
button:hover {
  filter: brightness(0.8);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
ul li {
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  background: #e3e3e3;
  border-radius: 21px;
  margin-left: 3vh;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container{
    width: 98%;
    gap: 24px;
  }
  ul li {
    padding: 1.5vh;
  }
  ul {
    gap: 3vh;
  }
}
